.container {
  width: 100% auto;
  padding: 0px 20px 0px 20px;
}

.navbar-inverse {
	opacity: 0.6;
}

#background .jumbotron {
	margin-left: 20px;
}

.jumbotron {
	background-color:rgba(100,100,100,0.2);
	padding: 20px;
	text-align: center;
}

.jumbotron h1 {
	color: #349156;
	font-family: 'Parisienne', cursive;
}

#background {
	padding-top: 90px;
	background-image: url('../bg.jpg');
	height: 800px;
}

#rsvp {
	text-align: center;
	height: 650px;
	padding-top: 50px;
	background-color: #FCFFEA;
}

#rsvp h1 {
	font-size:400%;
	font-family: 'Parisienne', cursive;
}

.input-large {
	width: 100%;
}

button {
	margin: 20px;
}

#map {
	height: auto;
	padding-bottom: 50px;
	background-color: grey;
	text-align: center;
	padding-top: 50px;
}

#map h1 {
	font-size:400%;
	font-family: 'Parisienne', cursive;
	color: white;
}

#map h3 {
	font-size:400%;
	font-family: 'Parisienne', cursive;
	color: white;
}

#map a {
	text-decoration: underline;
	color: #FCFFEA;
}

#accomodation {
	height: 600px;
	background-image: url('../bass-panorama3.jpg');
	text-align: center;
	padding-top: 40px;
}

#accomodation h1 {
	font-size:400%;
	color:white;
	font-family: 'Parisienne', cursive;
}

.accomodations {
	color:white;
}

.acc-text {
	font-size: 80%;
}

#info {
	height: 1100px;
	background-color: #ACE4FF;
	text-align: center;
	padding-top: 50px;
	color: white;
}

#info h1 {
	font-size:400%;
	font-family: 'Parisienne', cursive;
	color: black;
}

#info h2 {
	font-family: 'Parisienne', cursive;
}

.img-rounded {
	width: 80%;
}

#info .jumbotron {
	background-color:rgba(100,100,100,0.4);
	padding: 20px;
	text-align: center;
}

.navbar-brand {
	font-family: 'Parisienne', cursive;
	font-size: 150%;
	padding-left: 30px;
}

#accom_contact {
	font-size: 150%;
	color: #90EE90;
}